<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <mat-card class="home-card">
      Enter your professor's name to view their notes.
    </mat-card>
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="note-list-title">Notes</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutGap="10px">
          <!-- Examples of filtering in Angular -->
          <!--
          <mat-form-field class="input-field">
            <mat-label>owner</mat-label>
            <input matInput id="note-owner-input" placeholder="Filter by owner"
            [(ngModel)]="ownerId" (input)="updateFilter()">
          </mat-form-field> -->

        </div>

        <div fxLayout="row wrap" fxLayoutGap="10px">
          <!-- Examples of filtering on the server -->
        </div>

        <br>
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <label>View type: </label>
          <mat-radio-group aria-label="View type" [(ngModel)]="viewType" id="view-type-radio">
            <mat-radio-button value="card">Card</mat-radio-button>
            <mat-radio-button value="list">List</mat-radio-button>
          </mat-radio-group>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredNotes; else " >
    <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->
    <div [ngSwitch]="viewType">

      <!-- Card grid view -->
      <div *ngSwitchCase="'card'" fxLayout="row wrap" fxLayoutGap="10px" class="note-cards-container">
        <app-note-card simple="true" *ngFor="let note of filteredNotes" class="note-card" [note]="note" fxFlex="1 1 280px"></app-note-card>
      </div>

      <!-- List view -->
      <mat-card *ngSwitchCase="'list'">
        <mat-card-content>
          <mat-nav-list class="note-nav-list">
            <h3 mat-subheader>Notes</h3>
            <a mat-list-item *ngFor="let note of this.filteredNotes" [routerLink]="['/notes', note._id]" class="note-list-item">
              <!--
              <h3 matLine class="note-list-owner"> {{note.owner}} </h3> -->
              <!-- <p matLine class="note-list-addDate"> {{note.addDate}} </p> -->
            </a>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
