.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;
  background: #ffe203;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffe203;
  color: black;

}

.app-title {
  flex: 1 1 auto;
  text-align: center;
}


.main-content {
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
}
