.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;
  background: #ffe203;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffe203;
  color: black;

}

.app-title {
  //padding-left: 1000px;
  align-items: center;// I don't think this is working right?
}


.main-content {
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
}
