.note-card{
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: medium;
}
.mat-button{
  line-height: 1rem;
  min-width: 0;
  width: 6rem;
  height: 2rem;
  background-color: rgb(221, 216, 216);
  align-content: flex-end;
}

.note-card-body{
  color: black;
}

.wrapper{
  position: bottom;
  text-align: center;
}

.mat-actions{
  padding: 2rem;
}
