<mat-card class="note-card" *ngIf="this.note">
  <mat-card-header>
    <mat-card-subtitle class="note-card-body">{{ this.note.body }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="!this.simple">
    <p>Reusable: <span class="note-card-reusable">{{ this.note.reusable }}</span></p>
    <p>To Delete: <span class="note-card-toDelete">{{ this.note.toDelete }}</span></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="this.simple" [routerLink]="['/notes', this.note._id]">EDIT NOTE</button>
  </mat-card-actions>
</mat-card>
