<mat-card class="note-card" *ngIf="this.note">
  <mat-card-header>
    <mat-card-subtitle class="note-card-body">{{ this.note.body }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="!this.simple">
    <p>Reuse: <span class="note-card-reuse">{{ this.note.reuse }}</span></p>
    <p>To Delete: <span class="note-card-toDelete">{{ this.note.toDelete }}</span></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="this.simple" [routerLink]="['/notes', this.note._id]">EDIT NOTE</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-button *ngIf="!this.note.toDelete" (click)="clickEvent()" >DELETE </button>
  </mat-card-actions>
  <NoteCardComponent (deleteEvent)="deleteEvent()"></NoteCardComponent>
</mat-card>

